{% extends 'base.html' %}

{% block title %}Barcha Videolar{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center fw-bold mb-4">Barcha videolar</h2>

    {% if videos %}
        <div class="row g-4">
            {% for video in videos %}
                <div class="col-md-6 col-lg-4">
                    <div class="card video-card h-100">
                        <div class="card-body text-center">
                            <h5 class="fw-bold">{{ video.title }}</h5>
                            <p><strong>Level:</strong> {{ video.get_level_display }}</p>
                            <p><strong>Category:</strong> {{ video.get_category_display }}</p>
                            <video width="100%" height="250" class="mb-3 rounded" muted playsinline preload="metadata"
                                style="pointer-events: none; object-fit: cover;">
                                <source src="{{ video.video_file.url }}#t=0.1" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <a href="{% url 'video_detail' video.id %}" class="btn btn-outline-primary btn-sm mt-2">Videoni ko‘rish</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning text-center" role="alert">
            Hozircha hech qanday video mavjud emas.
        </div>
    {% endif %}
</div>
{% endblock %}